.player1{
	background-color: yellow;
}
.player2{
	background-color: red;
}

body {
	background-color: black;
}
table, td {
	background-color: blue;
	border-spacing: 0px;

	background-color: solid blue;
}
td{
	border-radius: 40px;
	border: 7px solid blue;
    width: min(calc(50vw /4), calc(50vh / 4));
    height: min(calc(50vw /4), calc(50vh / 4));
  	background-color: white
}
.container {
	position: absolute;

}
caption#whose_turn {
    color: white;
    font-size: 5vh;
}
#play_again{
	color: white;
	position: absolute;
	font-size: 5vh;
    background-color: #c50808;
    left: 50vw;
    top: -10px;
}
@media screen and (max-height:513px) {
	td{border: 5px solid blue;}
}
@media screen and (max-height:450px) {
	td{border: 3px solid blue;}
}
@media screen and (max-height:340px) {
	td{border: 1px solid blue;}
}

