.player1{
	background-color: yellow;
}
.player2{
	background-color: red;
}

body {
	background-color: black;
}
table, td {
	background-color: blue;
	border-spacing: 0px;
	background-color: solid blue;
}
td{
	border-radius: 40px;
    padding: 40px 50px 40px 45px;
  	border: 7px solid blue;
  	background-color: white
}
.container {
	position: absolute;

}
th{
  	border: 10px black;
}
caption#whose_turn {
    color: white;
    font-size: 200%;
}
#play_again{
	color: white;
	position: absolute;
	font-size: 150%;
    background-color: #c50808;
    right: 300px;
}

